doctype html 
html 
    head 
        title Rhythm Dance Academy
        block scripts 
        block style 
    body 
        nav#navbar.top 
         ul
            div#logo 
                img(src="/static/img/logo.png")
                | RDA 
            li #[a(href="/") Home] 
            li #[a(href="/") About]
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info]
            li #[a(href="../views/contact.pug") Contact Us]
            
        block content 
        footer#footer 
            | Copyright &copy 2021 www.RhythmDanceAcademy.com | All Rights Reserved  